.landing-banner {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3990E1;
  border-radius: 15rem;
  background: linear-gradient(45deg, #26295700 15%, #2C2C2C 35% 68%, #26295700 85%);
  & .avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    box-shadow: 0 0 20px #3990E1;
    padding: 0.4rem;
  }
  & .main-title {
    display: inline-flex;
    align-items: center;
    & h1 { font-size: 4rem; margin-left: 2rem; }
  }
  & .sub-title { margin-top: 1rem; }
}


.home-movies-latest{

}
