.movie-item {
  animation: 820ms ease-in-out fadeIn;
}

.movie-details-wrapper {
  position: relative;
  opacity: 0;
  overflow: hidden;
  transition: all 210ms ease-out;
  padding: 6rem 0;
  height: 100%;
  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.835);
  }
  & .info-wrapper {
    height: 100%;
    & h3 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.movie-rating {
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  z-index: 1;
  font-size: 0.7rem;
  margin-right: 1rem;
  & span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
