.navbar-wrapper {
  cursor: pointer;
  z-index: 990;
  position: sticky;
  top: 0;
  right: 0;
  left: 250px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(245, 245, 245);
  box-shadow: 4px 0 30px 6px rgba(10, 10, 10, 0.2);
}

.countries-wrapper {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  border-left: 1px solid rgba(10,10,10,0.1);
  & h5 { font-size: 1rem; margin: 0; }
  & .flag-icon {
    display: inline-block;
    width: 50px;
  }
}

.avatar-wrapper {
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  border-left: 1px solid rgba(10, 10, 10, 0.1);
  & h5 { margin: 0 0 0 1rem; font-size: 0.8rem;}
}

nav .avatar {
  border-radius: 50%;
}

.nav-menu-dropdown {
  opacity: 0.8;
  &:hover {opacity: 1;}
  & > ul {
    z-index: 980;
    box-shadow: 0 8px 30px 2px rgba(10, 10, 10, 0.2);
    height: max-content;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 260ms linear;
    border-radius: 0 0 8px 8px;
    background-color: white;
    opacity: 1;
    & li {
      opacity: 0.7;
      transition: all 220ms ease-out;
      font-weight: 400;
      &:hover {opacity: 1; font-weight: 700;}
    }
  }
}
