nav.sidebar-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #f1f5f8;
  text-align: center;
  box-shadow: 2px 0 60px 12px rgba(10, 10, 10, 0.2);
  & ul {
    list-style: none;
    padding: 0 1rem;
    text-align: left;
  }
  & .sidebar-icon {
    width: 15px;
    margin-right: 1rem;
    opacity: 0.6;
    filter: invert(22%) sepia(8%) saturate(1902%) hue-rotate(339deg) brightness(93%) contrast(88%);
  }
  & .btn-sidebar {
    color: rgba(13, 13, 14, 0.9);
    border-radius: 0;
    margin-top: 1rem !important;
    font-size: 0.8rem;
    opacity: 0.8;
    border: none;
    border-left: 3px solid transparent;
    transition: 160ms border-color ease-in;
    &:hover, &.active {
      border-color: purple;
      opacity: 1;
    }
  }
  & .sidebar-subtitle {
    padding: 0.4rem 2rem;
    margin: 2rem 0 0 0;
    font-size: 0.8rem;
    border-top: 1px solid rgba(10, 10, 10, 0.2);
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    opacity: 0.5;
    text-transform: uppercase;
    text-align: left;
  }
}

.img-logo-wrapper {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding: 1rem 0;
  & img { border-radius: 50%; }
}
