@import 'component/movie_card';
@import 'component/sidebar';
@import 'component/navbar';
@import 'component/landing_banner';
@import './layout';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.hidden { max-height: 0 !important; }

.movies-list {
  list-style: none;
  overflow: hidden;
}

.poster-wrapper {
  margin: 0 1rem 2rem;
}
