.movie-show-backdrop {
  position: sticky;
  z-index: -1;
  height: 66vh;
  background-size: cover;
}

.similar-movies-title {
  background: linear-gradient(to right, transparent 25%, white, transparent 75%);
}

.movies-list-similar {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(241, 241, 241);
  scrollbar-width: none;
  & .poster-wrapper { margin-bottom: 0 !important;}
  &::-webkit-scrollbar { display: none; }
}

.movies-list-scrollable {
  position: relative;
  list-style: none;
  height: max-content;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 84px;
  border-radius: 0.4rem;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0 32px 6px rgba(10, 10, 10, 0.2) inset;
  & .poster-wrapper { margin-bottom: 0 !important;}
  &::-webkit-scrollbar { display: none; }
}

.movie-show-title {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 250px;
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: #3591E0;
}

.movie-show-overview {
  position: relative;
  top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background: linear-gradient(to right, transparent, white 10% 90%, transparent);
  padding: 1rem 8rem;
  line-height: 2rem;
}

.scroll-section {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  &:hover { opacity: 0.85; }
  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 3, 46, 0.4)60%, rgba(210,220,255,0));
  }
  &.right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 3, 46, 0.4)60%, rgba(210,220,255,0));
  }
  & i {
    font-weight: 700;
    font-size: 5rem;
    pointer-events: none;
    color: rgba(245, 245, 245, 0.493);
  }
}

#map-container {
  height: 75vh;
  width: 100%;
}

#addressDropdownRef {
  z-index: 999;
  position: absolute;
  top: 100%;
}
